.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Nunito;
    background-image: url('../fondoMande.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .title {
    color: #fff;
    font-size: 6rem;
    text-align: center;
    position: relative;
    flex-grow: 1;
  }
  
  .titulo {
    color: #1626EB;
  }
  
  .bot-reg, .bot-login {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   font-size: 25px;
   border-radius: 25px;
   background-color: #000;
   padding: 10px 10px;
   margin: 6px;
   animation: alternate-reverse;
   cursor: pointer;
   border-width: 0px;
   color: #fff;
  }
  .bot-login {
    background-color: #1626EB;
    
  }
  