.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Nunito;
    background-image: url('../fondoMande.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.login-container{
    background: #D4EFDF;
    border-radius: 15px;
    padding: 40px;
}
.titleLogin {
    font-size: 6rem;
    color: #000;
}

.bot-loginU {
    background-color: #1626EB;
    padding: 10px 30px;
}
@media (max-width: 800px) {
    .login {
        background: none;
    }
    .login-container{
        padding: 20px;
    }
}