
.form-control-RU {
    border-radius: 30px;
    padding: 15px;
    background-color: #ddd;
}

.btnRU-terminar {
    margin-top: 8px;
    background-color: #1626EB;
}

.imgRegConteiner-RU {
    display: flex;
    height: 670px;
    width: 100%;
    min-width: 0px;
}